@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans+Condensed:wght@300&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	text-align: center;
	background-color: #F5EDF0;
	font-size: 25px;
}
h1{
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #A8201A;
}
h2{
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #DAA520;
}
svg{
	display: flex;
	clear: both;
}
table{
	width: 80%;
	margin: 10px auto;
}
td{
	padding: 15px;
}
#cabecalho{
	background-color: #114B5F;
	padding: 10px 0px;
}
#logo img{
	width: 150px;
	margin: 10px;
	margin-bottom: 0px;
}
#menu{
	padding: 3px;
	font-family: 'Open Sans Condensed', sans-serif;
}
#menu a:link, a:visited{
	text-decoration: none;
	color: #F5EDF0;
}
#menu a:hover{
	background-color: #2D7189 ;
}
#menu a{
	padding: 8px 12px;
	font-size: 20px;
}
#home{
	display: flex;
}
#villegagnon img{
	border: #114B5F solid 10px;
	margin-right: 10px;
}
#villegagnon a{
	color: #A8201A;
	text-decoration: none;
}
#villegagnon{
	display: flex;
	text-align: justify;
	padding: 30px;
}
#comparacao{
	display: flex;
	font-size: 20px;
}
#calvinismo{
	padding: 10px;
	max-width: 50%;
	border: #114B5F solid 10px;
	text-align: center;
}
#x{
	text-align: center;
	margin: 240px 0px;
}
#cristianismo {
	border: #A8201A solid 10px;
	padding: 35px;
}
#mapa{
	width: 80%;
	margin: 10px auto;
}
#rodape{
	background-color: #114B5F;
	padding: 25px;
	font-size: 20px;
	color: #F5EDF0;
	clear: both;
}
#estracao{
	display: flex;
}
#estracao img{
	width: 20%;
}
.banner{
	margin: 20px;
}
.texto-comparacao{
	text-align: justify;
	padding: 15px;
}
.texto{
	text-align: justify;
	width: 80%;
	margin: 10px auto;
	margin-top: 25px;
}
.texto a{
	color: #A8201A;
	text-decoration: none;
}
.colunas{
	width: 50%;
}
.colunas a{
	color: #A8201A;
	text-decoration: none;
}
.direita{
	display: flex;
	float: right;
}
.esquerda{
	display: flex;
	float: left;
}

